.InfoBox{
    padding: 15px;
    flex:1;
}
.InfoBox:not(:last-child){
    margin-right: 15px;
}
.InfoBox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.InfoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem;
    margin-top: 15px !important;
}
.infoBox--seleted{
    border-top: 10px solid greenyellow;
}
.infoBox--red{
    border-color: red;
}
.infoBox--green{
    color: green;
}